@import '~bootstrap/scss/bootstrap.scss';
@import '~@fontsource/league-spartan/index.css';
@import '~@fontsource/league-spartan/800.css';
@import '~@fontsource/league-spartan/700.css';

@import './mixins.scss';

// generals
body {
   font-family: $main-font;
   height: 100%;
}

ul {
   padding: 0;
   margin: 0;
}

ul li {
   text-decoration: none;
   display: block;
}

a {
   text-decoration: none;
}

img {
   width: 100%;
}

section {
   padding: 60px 0;
}

h1, h2{
   font-weight: 800;
}

h1 {
   font-size: 80px;
}

h2 {
   font-size: 50px;
}

h4, h5 {
   font-weight: 700;
}

p {
   font-size: 20px;
}

// utilities
.gs-wrap {
   width: 80%;
   max-width: 1140px;
   min-width: 900px;
   margin: 0 auto;
}

.gs-btn {
   @include gs-btn;
   border: 1px solid $main-btn;
   &:hover {
      color: $main;
      background-color: $main-btn;
   }
}

.gs-solid-btn{
   @include gs-btn;
   background-color: $main-btn;
   &:hover {
      color: $main;
   }
}

.subs {
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 700;
   color: $main-btn;
}

.gs-lgt {
   color: lighten($subtitle, 10%);
}

.gs-grn {
   color: $main-btn;
}

.special-title {
   display: inline-block;
   color: $main-btn;
   background-color: $ultra-light;
   border-radius: 5px;
}

.special-dark-title {
   display: inline-block;
   color: $main;
   background-color: rgba(8, 109, 84, 0.4);
   border-radius: 5px;
}