@mixin bg-position(){
   background-position: center;
   background-size: cover;
}

@mixin gs-wrap(){
   width: 70%;
   margin: 0 auto;
}

@mixin gs-btn {
   color: $main;
   text-transform: uppercase;
   font-size: 20px;
   padding: 5px 20px;
}
