$main-font: "League Spartan";

// bg colors
$blue-bg: #568597;
$mid-bg: #1D2528;
$light-bg: #E7EEE9;
$ultra-light: #DAECEC;
$dark-bg: #1D2528;

// font colors
$subtitle: #BCBDBD;
$main: #fff;

// btn colors
$main-btn: #048383;
$lighter-green: #60A9AD;
